<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Task Master
	link(rel="stylesheet", href="/css/style.css")
body
	nav
		ul
			li: a(href="/") home
			li: a(href="/priorities/new") add priority
			li: a(href="/priorities") see priorities
			li: a(href="/tasks/new") add new tasks
			li: a(href="/tasks") see current tasks
block top
	